.formContainer {
  margin: 20px 0;
  padding-top: 10px;
  border-top: 1px solid var(--black);
}
.textarea {
  width: 100%;
  margin: 10px 0;
}
.userName {
  font-weight: bold;
  margin: 5px 0;
}
.formTitle {
  margin: 10px 0;
}